camera:
{
    resolution = { width = 400.0; height = 400.0; };
    position = { x = 0; y = 0.0; z = 0.0; };
    rotation = { x = 0; y = 0; z = 0; };
    fieldOfView = 72.0;
    antialiasing = 1.0;
    postProcessing = "";
};

primitives:
{
    spheres = (
        {
            center = { x = -0.0; y = 0; z = 1.0; };
            radius = 0.25;
            rotation = { x = 0.5; y = 0.2; z = 1.5; };
            color = { r = 255.0; g = 0.0; b = 0.0; };
            material = { transparency = 0.0; reflection = 0.0; ior = 0.0; };
        }
    );

    planes = (
        {
            origin = { x = -1.0; y = 0; z = 2.0; };
            axis = "Z";
            rotation = { x = 0.5; y = 0.2; z = 1.6; };
            color = { r = 64.0; g = 255.0; b = 64.0; };
            material = { transparency = 0.0; reflection = 0.0; ior = 0.0; };
        }
    );

    cylinders = (
        #{
        #    center = { x = 0; y = -0.2; z = 1.5; };
        #    radius = 0.25;
        #    height = 0.5;
        #    rotation = { x = 0.5; y = 0.2; z = 1.5; };
        #    color = { r = 0; g = 255.0; b = 0; };
        #     material = { transparency = 0.0; reflection = 0.0; ior = 0.0; };
        #}
    );

    cones = (
        # {
        #     center = { x = 0; y = -0.5; z = 1.6; };
        #     radius = 0.3;
        #     height = 1.0;
        #     rotation = { x = 0.5; y = 0.2; z = 1.5; };
        #     color = { r = 78.0; g = 69.0; b = 140.0; };
        #     material = { transparency = 0.0; reflection = 0.0; ior = 0.0; };
        # }
    );

    mobiusStrips = (
        #{
        #    center = { x = 0; y = 0; z = 1.5; };
        #    radius = 1.0;
        #    width = 0.2;
        #    rotation = { x = 0.5; y = 0.2; z = 1.5; };
        #    color = { r = 255.0; g = 255.0; b = 0; };
        #    material = { transparency = 0.0; reflection = 0.0; ior = 0.0; };
        #}
    );
};

lights:
{
    ambient = 0.12;
    diffuse = 0.4;
    isAmbiant = false;

    point = (
        { position = { x = 1.0; y = -1.0; z = 1.0; }; }
    );
};
